* {
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    padding: 10px 0 20px 0;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    min-height: 80vh;
    background-color: #ddd;
    gap: 20px;
    margin: 0 auto;
}
.border-padding{
    border: 2px solid darkgrey;
    border-radius: 20px;
    padding: 20px;
}
.flex{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 10px auto;
    background-color: #ddd;
}
.flex-col{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-2 {
    flex: 0 1 100px;
    min-height: 500px;
}
.flex-6{
    flex: 1 1 250px;
    min-height: 500px;
}
.flex-item{
    max-width: 50%;
    min-width: 300px;
    flex: 1 1 40%;
}
.inner-wrapper{
    border: 1px solid darkgray;
    border-radius: 30px;
    padding: 15px;
}
.dish-thumb{
    max-width: 300px;
    max-height: 200px;
    border-radius: 30px;
}
.dish-thumb:hover{
    transition: 0.5s;
    transform: scale(1.05);
}
a{
    text-decoration: none;
}
.recipe-name:hover{
    color: rgb(255, 46, 46);
}
.title, .recipe-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: black;
}
.btn{
    padding: 15px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 30px;
    background-color: bisque;
    box-shadow: -3px 0 10px #888;
    align-self: center;
    margin-top: 20px;
}
.btn:hover{
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: -3px 0 20px #888;
}
.footer{
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
    color: gray;
}
.prof-link{
    color: gray;
}